{{- $devcontainer:= env "REMOTE_CONTAINERS" | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    name = "Adrien Friggeri"
    email = "adrien@friggeri.net"
    devcontainer = {{ $devcontainer }}
    {{- if $devcontainer }}
    machineType = "devcontainer"
    {{- else }}
    {{- $machineType := promptChoiceOnce . "machineType" "Machine type" (list "personal" "work") }}
    machineType = {{ $machineType | quote }}
    {{- end }}